#home {
	header {
		min-height: 80vh;
		text-align: center;
		background: #fff;
		@include flex-direction(column);

		button {
			margin: 10vh auto 0;
		}
	}

	section {
		@include flex-direction(row);

		.avatar {
			margin: 0 1rem;
		}
	}
}
