<head>
    <title>Code Glimpse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<template name="layout">
	<div class="notifications"></div>
	<div class="applicationContent">
		{{>nav logo="Code Glimpse" items=menuItems}}
		<main id="{{ template }}">
			{{ >yield }}
		</main>
	</div>
	<div class="applicationMenu">
		<ul>
			<li><a href="/">Home</a></li>
			{{ #if currentUser }}
				<li><a href="/{{ currentUser.username }}">Profile</a></li>
				<li><a href="/logout">Logout</a></li>
			{{ else }}
				<li><a class="login">Login</a></li>
			{{ /if}}
		</ul>
	</div>
</template>
