.avatar {
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
	overflow: hidden;
	@include user-select(none);
	@include transition(.2s);
	@include backface-visibility(hidden);
	@include transform-style(preserve-3d);

	img {
		width: 100%;
		height: 100%;
		display: block;
	}

	&.small {
		width: 6rem;
		height: 6rem;
	}
}

a.avatar:hover {
	@include transform(translateZ(0) scale(1.1));
}

#profile {
	header {
		article {
			margin-left: 4.5rem;
			@include flex(1);
			@include flex-direction(row);

			h3 {
				margin-bottom: 0;
			}
		}
	}

	@media #{$phone-width} {
		header {
			&, aside, article {
				margin: auto;
				text-align: center;
			}

			article {
				margin-top: 1.5rem;
			}
		}
	}
}
