<template name="home">
	<section id="home">
		<section class="hero">
			<div>
				<h1>CodeGlimpse</h1>
				<h4>A social network for developers, by developers.</h4>
				<a href="/login">Login</a>
			</div>
		</section>
		<section>
			<h3>Communicate with ease</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ratione, quo. Eaque atque inventore assumenda rerum dignissimos magni fuga earum sint, architecto debitis voluptatibus nam saepe illo, magnam quae. Ipsam!
			</p>
		</section>
	</section>
</template>
