<template name="profile">
	<div class="hero">
		<div>
			<h1>Some awesome page</h1>
		</div>
	</div>
	<p>
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed hic deserunt temporibus reprehenderit ipsum animi magni, tempore, dolor nemo excepturi suscipit qui corrupti nisi expedita magnam, provident impedit, iste labore?</span>
		<span>Animi nostrum et voluptate temporibus consectetur magnam, possimus excepturi at voluptatem cupiditate debitis, facere nemo iure ea repudiandae numquam minima accusantium optio itaque, mollitia quasi! Iste, voluptatem voluptates. Nihil, voluptatum.</span>
		<span>Nulla veritatis, iusto animi obcaecati itaque alias, aut laudantium impedit inventore rem placeat, adipisci minus delectus dolores eveniet magnam debitis quod temporibus tenetur quae in! Blanditiis perspiciatis a aliquam hic!</span>
		<span>Temporibus officia ipsum consequatur labore deleniti, impedit excepturi culpa ipsa ut officiis quos, tenetur optio eligendi dolorem dolores dolorum dolor. Incidunt id hic, laudantium odio corporis nemo ullam dolor facere.</span>
	</p>
</template>
