<template name="profile">
	<section id="profile">
		<div class="hero">
			<aside>
				<img src="/images/avatar.jpg" alt="">
			</aside>
			<article>
				<h3>{{ currentUser.profile.name }}</h3>
				<h4>{{ currentUser.services.github.username }}</h4>
				<a class="{{ active }}">Following</a>
			</article>
		</div>
		<div class="timeline">
			<aside>
				February 16th, 2015
			</aside>
			<article>
				<h4>lorem impsum dolor sit amet.</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat itaque unde, a rerum omnis repellendus ratione similique. Eveniet deleniti aut, possimus mollitia itaque. Facere, eligendi sit temporibus doloremque asperiores esse!
				</p>
			</article>
		</div>
	</section>
</template>
