nav {
	position: absolute;
	top: 15px;
	width: 100vw;
	padding: 1.4rem 5%;
	// background-color: rgba(255, 255, 255, 0.98);
	z-index: 1;

	@include transition(background 0.2s, box-shadow 0.2s);
	@include user-select(none);

	a {
		float: right;
		color: #000;
		font-family: "Source Sans Pro" ,"Helvetica Neue", Helvetica, Arial, sans-serif;;
		font-weight: 300;
		font-size: 1.4rem;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 0 !important;

		&:first-child {
			float: left;
		}

		&:not(:first-child) {
			margin-left: 2.5rem;
		}

		&:hover {
			border-bottom: 2px solid $color-primary;
		}
	}
}
