// Colors
$primary-color: #674172;
$background-color: #f2f2f2;

// Sizes
$tablet-width: "(max-width: 70rem)";
$phone-width: "(max-width: 40rem)";

// Fonts
$font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
