%timeline {
	position: relative;
	padding: 1.5rem;

	@include display(flex);
	@include flex-direction(column);

	&:after {
		content: "";
		position: absolute;
		left: calc(20% + 12.5rem);
		top: 0;
		height: 100%;
		width: .2rem;
		background-color: rgba(0, 0, 0, .1);
	}

	.post {
		@include display(flex);
		@include flex-direction(row);

		aside {
			width: 12.5rem;
			z-index: 1;
			margin: auto;
			color: #888;
			font-family: "questrial", sans-serif;
		}

		article {
			@include flex(1);
			margin-left: 4.5rem;
			text-align: left;
			padding: 1.5rem;
			background-color: #fff;

			p {
				color: #444;
			}
		}
	}

	@media #{$tablet-width} {
		padding: 1.5rem !important;

		&:after {
			left: calc(10% + 12.5rem);
		}
	}

	@media #{$phone-width} {
		padding: 1.5rem !important;

		.post {
			width: 100%;
			@include flex-direction(column);

			aside {
				text-align: left;
				margin: 0 0 1.5rem;
			}

			article {
				width: 100%;
				margin: 0 auto 3rem;
			}
		}

		&:after {
			display: none;
		}
	}
}
