#home {
	.hero {
		@extend %hero;

		min-height: 80vh;
		background-color: #fff;
		padding: 4.5rem 0;

		div {
			@include vertically-centered;
		}

		h1, h4 {
			width: 100%;
		}

		h1, h4, a {
			display: inline-block;
		}

		h1 {
			color: #333;
		}

		h4 {
			color: #aaa;
			margin-top: 1rem;
			font-weight: 100;
		}

		a {
			@extend %button;
			margin-top: 4rem;
		}
	}

	.segment {
		padding: 4.5rem;
		background-color: #f2f2f2;
	}
}
