#profile {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(stretch);

	.hero {
		@extend %hero;
		padding: 6.75rem 20% 6.75rem;
		background-color: #fff;
		@include flex-direction(row);

		aside {
			margin: auto;
			text-align: center;
			width: 12.5rem;
			@include user-select(none);

			img {
				width: 12.5rem;
				height: 12.5rem;
				border-radius: 50%;
			}
		}

		article {
			margin: auto;
			margin-left: 4.5rem;
			@include flex(1);

			h4 {
				color: #ccc;
			}

			a {
				@extend %button;
			}
		}
	}

	.posts {
		padding: 0.75rem 10%;
		overflow-x: hidden;

		@include display(flex);
		@include flex-direction(row);
		@include align-items();

		article {
			min-width: 20rem;
			width: calc(100% / 3);
			background-color: #fff;
			text-align: left;
			margin: 0.75rem;

			@include display(inline-flex);

			a {
				color: #444;
				padding: 1.5rem;
				display: block;

				@include flex(1);

				&:hover {
					background-color: #fafafa;
				}
			}

			h4 {
				font-size: 1.25rem;
			}

			p {
				color: #aaa;
				font-size: 1rem;
			}
		}
	}

	// Media queries
	@media #{$tablet-width} {
		.hero {
			padding: 6.75rem 10% 6.75rem;
		}
	}

	@media #{$phone-width} {
		.hero {
			padding: 6.75rem 5% 3.5rem;
			@include flex-direction(column);

			aside, article {
				text-align: center;
				margin: auto;
			}

			article {
				margin-top: 2rem;
			}
		}
	}
}
